// Theme Version
@use "./version.scss";

.bd {
    .placeholder {
        border: 0;
    }
}

.powercord {
    .placeholder {
        border: 0;
    }
}

.vizality {
    .placeholder {
        border: 0;
    }
}