@import "https://leeprky.github.io/themes/Vintage/version.css";

:root {
  --outdated_underground-094: none !important;
  --version:"0.9.4";
  --build:"094";
  --version-display: flex;
  --theme-owner: "Leeprky";
  }

#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    width: fit-content;
    border-radius: var(--radius) !important;
    top: 0px !important;
    content: "An update is available for '" var(--theme) "' - Please Update To: " var(--version-latest) " (Currently on v" var(--version) ") "!important;
    display: block;
    background-color: var(--alt-color2);
    color: #fff;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    opacity: 1;
    position: relative;
    text-align: center;
    border-radius: var(--bubble-radius) !important;
    visibility: unset;
    white-space: pre-wrap;
    bottom: unset;
    right: unset;
    min-width: unset;
    max-height: unset;
    min-height: unset;
    transform: unset;
    animation: unset;
    z-index: 999999;
    pointer-events: none;
  }
  
  :root {
    --version:"UNKOWN";
    --build:"UNKNOWN";
    --style-name:"UNKNOWN - ENABLE A SKIN";
    --style-creator:"UNKNOWN - ENABLE A SKIN";
  }
  
  .info-3pQQBb {
    &::after {
      content: "Latest " var(--version-latest-long) !important;
      color: var(--text-muted) !important;
      opacity: 0.4;
      display: block;
      font-size: 12px;
      font-family: var(--font-primary);
      font-weight: 400;
      margin-top: 0px;
    }
  
    &::before {
      content: "Current " var(--version-long) !important;
      color: var(--text-muted) !important;
      opacity: 1;
      display: block;
      font-size: 12px;
      font-family: var(--font-primary);
      font-weight: 400;
      position: absolute;
      margin-top: 82px;
    }
  }
  
  .socialLinks-3ywLUf::after {
    content: "Style: " var(--style-name) " | Creator: " var(--style-creator) !important;
    color: var(--text-muted) !important;
    opacity: 1;
    display: block;
    font-size: 10px;
    font-family: var(--font-primary);
    font-weight: 400;
    position: absolute;
    margin-top: 110px;
  }
