:root {
    --style-name: "Default Skin" !important;
    --style-creator: "Leeprky#2063";
}

:root 
{
    /* Blurple Colour */
    --main-colour: 204, 127, 108 !important;
    --main-colour2: #cc7f6c !important;
    --main-colour3: 12 !important;

    /* Channel Unreads */
    --indicator-connected: 60, 150, 60;
    --indicator-hovered: rgba(var(--main-colour), 0.05);
    --indicator-unread: 255, 255, 255;
    --indicator-selected: var(--alt-color);
    --indicator-rounding: var(--radius) !important;

    /* Green Colour */
    --green-color: var(--alt-color2) !important;
    --spotify-color: var(--green-color);
    --green-bar-on: #5c646480;
    --green-bar-bg: var(--green-color);
    --green-slider-on: var(--green-color);
    --green-slider-off: #404447fd;
    --green-slider-dot-on: #4770a2;
    --green-slider-dot-off: #303337fd;
}

.theme-dark {
    --header-primary: #fddcce;
    --header-secondary: #fcc5ad;

    --text-normal: #fddfd3;
    --text-muted: #f8b79e;
    --text-link: var(--main-colour2);
    --text-link-low-saturation: hsl(12,calc(var(--saturation-factor, 1)*100%),52.9%);

    --text-positive: hsl(var(--main-colour3),calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);

    --interactive-normal: #fddccefb;
    --interactive-hover: #ffc9b3ec;
    --interactive-active: #ffece3;
    --interactive-muted: #ffbfa47c;

    --toast-background: var(--background-floating);
    --toast-header: var(--background-tertiary);
    --toast-contents: var(--background-tertiary);
    --toast-box-shadow: rgba(0, 0, 0, .2);
    --toast-border: var(--background-tertiary);

    --background-primary: #201b18;
    --background-secondary: #2b2222;
    --background-secondary-alt: #2b2020;
    --background-tertiary: #161311;
    --background-accent: #0f0d0c;
    --background-floating: #0f0d0c;
    --background-nested-floating: #201b18;

    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: var(--background-secondary);

    --background-modifier-hover: rgba(var(--main-colour), 0.1);
    --background-modifier-active: rgba(var(--main-colour), 0.3);
    --background-modifier-selected: rgba(var(--main-colour), 0.5);
    --background-modifier-accent: rgba(var(--main-colour), 0.2);

    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text: #fff;

    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text: #fff;

    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text: #fff;

    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;

    --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text: #fff;
    --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text: #000;
    --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text: #fff;
    --status-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);

    --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);

    --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);

    --button-secondary-background: rgba(var(--main-colour), 0.5);
    --button-secondary-background-hover: rgba(var(--main-colour), 0.7);
    --button-secondary-background-active: rgba(var(--main-colour), 1);
    --button-secondary-background-disabled: rgba(var(--main-colour), 0.1);

    --button-outline-danger-text: #fff;
    --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background: hsla(0,0%,100%,0);
    --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover: #fff;
    --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active: #fff;
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);

    --button-outline-positive-text: #fff;
    --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,0%,100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: #fff;
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active: #fff;
    --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);

    --button-outline-brand-text: #fff;
    --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background: hsla(0,0%,100%,0);
    --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover: #fff;
    --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active: #fff;
    --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);

    --button-outline-primary-text: #fff;
    --button-outline-primary-border: var(--background-tertiary);
    --button-outline-primary-background: var(--background-tertiary);

    --button-outline-primary-text-hover: #fff;
    --button-outline-primary-background-hover: var(--background-tertiary);
    --button-outline-primary-border-hover: var(--background-tertiary);

    --button-outline-primary-text-active: #fff;
    --button-outline-primary-background-active: var(--background-tertiary);
    --button-outline-primary-border-active: var(--background-tertiary);

    --modal-background: #201b18;
    --modal-footer-background: #2b2020;

    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;

    --input-background: #2e2322;
    --input-placeholder-text: hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);

    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

    --logo-primary: rgb(255, 232, 226);

    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);

    --background-mentioned: rgba(var(--main-colour), 0.2);
    --background-mentioned-hover: rgba(var(--main-colour), 0.3);
    --background-message: rgba(var(--main-colour), 0.05);
    --background-message-hover: rgba(var(--main-colour), 0.08);

    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);

    --channels-default: #faccba;
    --channel-icon: #fddfd3;
    --channel-text-area-placeholder: #fddfd3;

    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);

    --channeltextarea-background: var(--background-secondary);

    --activity-card-background: var(--background-tertiary);
    --textbox-markdown-syntax: #8e9297;

    --spoiler-revealed-background: var(--background-tertiary);
    --spoiler-hidden-background: var(--background-tertiary);

    --deprecated-card-bg: var(--background-tertiary);
    --deprecated-card-editable-bg: var(--background-tertiary);
    --deprecated-store-bg: var(--background-tertiary);
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: var(--background-tertiary);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: var(--background-tertiary);
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}
