.appMount-2yBXZl, body {
    background-image: var(--image-bg) !important;
}

:root {
    --background-secondary: rgba(0, 0, 0, 0.315) !important;
}

.app-2CXKsg,
.bg-1QIAus,
.container-1eFtFS,
.sidebar-1tnWFu,
.chat-2ZfjoI,
.panels-3wFtMD {
    background-color: transparent !important;
}