.container-1Lk8p7 {
    background-color: var(--background-invite) !important;
}
.container-1Lk8p7 {
    border-radius: var(--radius) !important;
}
.container-x8Y1ix,
.inputWrapper-1YNMmM,
.inputDefault-3FGxgL {
    border-radius: var(--radius);
    background-color: var(--background-invite-button);
}
.theme-dark .footerSeparator-VzAYwb {
    background-color: var(--background-invite-footer);
    box-shadow: inset 0 1px 0 rgba(12, 12, 12, 0.6);
}
.title-1_TkpU, 
.footerTitle-3Bslxi,
.title-OdeD-o,
.title-2Giw-4,
.title-1LqMUp,
.text-sm-normal-3Zj3Iv {
    color: var(--colour-invite-title) !important;
}
.subtitle-3m-md1,
.subtitle-1cc8Nz,
.skip-2hTIXL,
.subtitle-bIoUVX,
.h5-2RwDNl,
.guidelines-FvqqF2,
.optionHeader-27AHfD {
    color: var(--colour-invite-sub-title) !important;
}
.text-PdAsFQ, 
.lookFilled-yCfaCM .contents-3ca1mk,
.contents-3ca1mk,
.inputDefault-3FGxgL {
    color: var(--colour-invite-button-title) !important;
}