.item-1OdjEX {
    border-radius: var(--radius) !important;
    width: 98%;
}
.menu-1QACrS {
    position: relative;
    padding: 5px;
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    cursor: default;
    max-height: calc(100vh - 32px);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background: var(--background-floating);
    border-radius: var(--radius);
    margin-top: -10px;
}
.item-1OdjEX::before {
    left: 10px;
    position: absolute;
}
.label-2gNW3x {
    left: 45px;
    position: absolute;
}

.categoryHeader-OpJ1Ly, .autocompleteInner-y1mjDl, .container-2ebMPP, .messagesPopoutWrap-3zryHW, .browser-mnQ1T7 {
    border-radius: var(--radius);
}
.channel-3NJZ1V, .scroller-145h9c {
    background-color: var(--background-floating) !important;
    border-radius: var(--radius) !important;
}

.notice-1x8lm-, .notice-2HEN-u {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    border-radius: var(--radius);
    margin-top: 10px;
    width: 97%;
    margin-left: 10px;
    padding: 0 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--brand-experiment-600);
    color: #fff;
}

.powercord-toast .buttons button {
    border-radius: var(--radius);
    background-color: rgba(var(--alt-color),0.2);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover {
    background-color: var(--alt-color2);
}

.theme-dark .footer-VCsJQY {
    background-color: var(--background-floating);
}