.scrollableContainer-15eg7h, .base-3bcbY3 .cooldownWrapper-2k1jHK, .base-3bcbY3 .typingDots-1Y8dki {
    margin-right: -10px;
    margin-bottom: -12px;
    min-height: 50px !important;
    position: relative;
}



.form-3gdLxP {
    margin-top: -25px;
}

.webkit-QgSAqd .buttons-uaqb-5 {
    margin-right: 5px !important;
}

.attachButton-1ijpt9, .buttons-uaqb-5, .editor-H2NA06 {
    margin-top: 4px;
}
.mentioned-Tre-dv:before {
    background-color: var(--alt-color2) !important;
}

.mentioned-Tre-dv {
    background-color: var(--background-mentioned) !important;
    border-radius: 0px 12px 12px 0 !important;
}
.message-2CShn3 {
    padding: var(--padding);
    background-color: var(--background-message);
    margin: 5px;
    border-radius: var(--radius);
    margin-left: 16px;
}
.message-2CShn3:hover, .compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg:hover {
    background-color: var(--background-message-hover) !important;
    filter: brightness(95%);
    border-radius: var(--radius);
}
.group-spacing-16 .groupStart-3Mlgv1 {
    margin-top: 0px;
}
.cozyMessage-1DWF9U.groupStart-3Mlgv1 {
    height: 110% !important;
}
.group-spacing-16 .divider-IqmEqJ.hasContent-1y12-u {
    margin-bottom: 20px !important;
    margin-top: 20px; 
}

.group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt {
    margin-bottom: 15px !important;
    margin-top: 0px;
    top: 0.3rem !important;
}

.messagesWrapper-RpOMA3 {
    padding: 10px;
    margin: 10px 5px 32px 16px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
  }
  .wrapper-15CKyy, .wrapper-3HVHpV {
      background-color: var(--background-message) !important;
      border-radius: var(--radius) !important;
      margin-top: 10px;
  }
  .wrapper-3HVHpV {
    background-color: var(--background-secondary) !important;
    border-radius: var(--radius) !important;
  }
  .messagesWrapper-RpOMA3 .scrollerBase-_bVAAt {
      margin-bottom: -25px !important;
  }

  .mentioned-Tre-dv:before {
    box-shadow: 0px 0px 20px 1.5px var(--alt-color2);
  }