/* -------- BASE ---- */
  
  :root {
    /* ---- base -- */
    --indicator-border-info:2px solid;
  
    /* ---- selected -- */
    --indicator-selected-border:rgba(var(--indicator-selected));
    --indicator-selected-background:rgba(var(--indicator-selected), 0.1);
    --indicator-selected-hover:rgba(var(--indicator-selected), 0.18);
  
    /* ---- unreads -- */
    --indicator-unread-border:rgba(var(--indicator-unread), 0.6);
    --indicator-unread-background:rgba(var(--indicator-unread), 0.01);
  
    /* ---- connected -- */
    --indicator-connected-border:rgba(var(--indicator-connected));
    --indicator-connected-background:rgba(var(--indicator-connected), 0.1);
    --indicator-connected-hover:rgba(var(--indicator-connected), 0.18);
  }
  
  /* ---- Borders -- */
  
  #app-mount {
    /* ---- Remove Default -- */
    /* -------- CHANNEL INDICATORS ---- */
    /* ---- Channel Hover -- */
    /* ---- Channel Selected -- */
    /* ---- Channel Unread -- */
    /* ---- VC Connected -- */
    /* ---- DM Channel Positioning -- */
  
    .containerDefault-YUSmu3 .wrapper-NhbLHG, .channel-1Shao0 {
      border-radius: var(--indicator-rounding) !important;
    }
  
    .containerDefault-YUSmu3 .wrapper-NhbLHG::before, .channel-1Shao0::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  
    .content-1gYQeQ, .channel-1Shao0 .layout-1qmrhw {
      background-color: transparent;
    }
  
    .containerDefault-YUSmu3 .wrapper-NhbLHG:not(.modeSelected-3DmyhH):not(.modeConnected-NrO4cP):hover, .channel-1Shao0:not(.selected-1-Z6gm):hover {
      background: var(--indicator-hovered);
    }
  
    .modeSelected-3DmyhH, .channel-1Shao0.selected-1-Z6gm {
      background-color: var(--indicator-selected-background);
      
    }
  
    .modeSelected-3DmyhH:hover, .channel-1Shao0.selected-1-Z6gm:hover {
      background-color: var(--indicator-selected-hover);
    }
  
    .modeSelected-3DmyhH::before, .channel-1Shao0.selected-1-Z6gm::before {
      border-left: var(--indicator-border-info) var(--indicator-selected-border);
    }
  
    .modeUnread-3Cxepe {
      background: var(--indicator-unread-background);
  
      &::before {
        border-left: var(--indicator-border-info) var(--indicator-unread-border);
      }
  
      .unread-36eUEm {
        display: none;
      }
    }
  
    .modeConnected-NrO4cP {
      background-color: var(--indicator-connected-background);
  
      &:hover {
        background-color: var(--indicator-connected-hover);
      }
  
      &::before {
        border-left: var(--indicator-border-info) var(--indicator-connected-border);
      }
    }
  
    .channel-1Shao0 {
      margin-left: 0;
      max-width: 100%;
  
      div .avatar-6qzftW {
        margin-left: 8px;
      }
    }
  }

  .content-1Tgc42 {
    margin-left: -20px;
    margin-top: 2.5px;
    border-radius: var(--radius);
    margin-right: 8px;
  }

  // // // //

  .containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
    position: relative;
    padding-top: 12px;
    padding-left: 3px;
}

.overflow-1wOqNV {
  font-size: 13px;
}
.name-28HaxV {
  font-size: 16px !important;
}

.iconContainer-21RCa3 {
  transform: scale(0.9);
}

.wrapper-NhbLHG {
  margin-left: 10px;
}
.container-1Bj0eq {
  margin-left: 14px;
}
#app-mount .containerDefault-YUSmu3 .wrapper-NhbLHG, #app-mount .channel-1Shao0 {
  border-radius: 0px 12px 12px 0px !important;
  margin-right: 8px;
  width: 93% !important;
}
.containerDefault-3TQ5YN, .containerDragAfter-1J_-1V, .containerDragBefore-ei4h1m, .containerUserOver-3woq86 {
  top: -5px !important;
}

.container-1NXEtd {
  margin-left: 10px;
  background-color: var(--background-secondary) !important;
  margin-bottom: 20px !important;
  margin-top: 65px;
  border-radius: var(--radius);
}

[class="container-1-ERn5 clickable-vvKY2q hasBanner-2IrYih bannerVisible-Vkyg1I communityInfoVisible-3zc5_s"] {
  margin-left: 10px;
  background-color: var(--background-secondary) !important;
  margin-bottom: 30px !important;
  margin-top: 0px;
  border-radius: var(--radius);
}
[class="container-1-ERn5 clickable-vvKY2q selected-1GtAC5 hasBanner-2IrYih bannerVisible-Vkyg1I communityInfoVisible-3zc5_s"] {
  margin-left: 10px;
  background-color: var(--background-secondary) !important;
  margin-bottom: 30px !important;
  margin-top: 0px;
  border-radius: var(--radius);
}
.animatedContainer-2laTjx, .bannerImage-ubW8K- {
  top: -55px !important;
  border-radius: var(--radius);
  height: 45px;
  margin-left: 0px;
  width: 230px;
  z-index: 10 !important;
  opacity: 0.1;
}
[class="container-1-ERn5 clickable-vvKY2q hasBanner-2IrYih bannerVisible-Vkyg1I communityInfoVisible-3zc5_s"] {
  margin: 0 !important;
}
.bannerVisible-Vkyg1I .headerContent-2SNbie {
  z-index: 99 !important;
  margin-top: -10px;
}

.header-3OsQeK {
  border-radius: var(--radius);
  bottom: 10px;
  background-color: var(--background-secondary) !important;
  width: 230px;
  position: absolute;
}
.header-3OsQeK:hover {
  background-color: var(--background-modifier-hover) !important;
}
[style="height: 84px;"]  {
  display: none;
}
.communityInfoVisible-3zc5_s .communityInfoContainer-1dMVpU {
  margin-top: -20px;
  margin-left: 115px;
}

.sidebar-1tnWFu {
  background-color: var(--background-primary) !important;
}



.privateChannelRecipientsInviteButtonIcon-1ObKXK {
  background-color: transparent;
  padding: 0;
  height: 20px;
  margin-top: -7px;
}