.privateChannels-oVe7HL {
    margin-left: 10px;
    background-color: var(--background-secondary) !important;
    margin-bottom: 28px !important;
    margin-top: 65px;
    border-radius: var(--radius);
}

.searchBar-3TnChZ {
    border-radius: var(--radius);
    top: 35px;
    background-color: var(--background-secondary) !important;
    width: 210px;
    position: fixed;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--background-primary);
    border-radius: var(--radius);
    text-align: center;
}


#app-mount .containerDefault-YUSmu3 .wrapper-NhbLHG, #app-mount .channel-1Shao0 {
    margin-left: 10px;
    width: 91%;
}
.avatar-1HDIsL, .layout-1LjVue {
    margin-left: 5px;
    border-radius: var(--radius) !important;
}

.peopleColumn-1wMU14 {
        padding: 10px;
        margin: 10px 5px 24px 16px;
        border-radius: var(--radius) !important;
        background-color: var(--background-secondary) !important;
}
.interactive-iyXY_x {
    border-radius: var(--radius) !important;
}

.nowPlayingColumn-1eCBCN {
    margin: 10px 15px 24px 10px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
}
.container-1oAagU {
    background-color: transparent;
    height: 98% !important;
}
.privateChannelsHeaderContainer-1UWASm {
    bottom: 8px;
    position: relative;
}

.nowPlayingColumn-1eCBCN>div>div>h3{position:fixed;width:360px;right:40px !important;top:24px;text-align:center;}.nowPlayingColumn-1eCBCN{background:transparent;}.nowPlayingColumn-1eCBCN>div>div{margin-top:60px;display:grid;grid-template-columns:repeat(auto-fill, minmax(160px, 112px));grid-gap:10px;grid-template-rows: repeat(auto-fill, minmax(70px, 0px));justify-content:center;margin-left:auto;margin-right:auto;}.scroller-hE2gWq{border-left:unset;}.itemCard-3Etziu{margin-top:unset;}.itemCard-3Etziu{max-height:40px;}.body-16rSsp{display:none;}

.members-3WRCEx>div {
    border-radius: var(--radius) !important;
    margin-bottom: 2px;
}