.privateChannels-oVe7HL {
    margin-left: 10px;
    background-color: var(--background-secondary) !important;
    margin-bottom: 22px !important;
    margin-top: 65px;
    border-radius: var(--radius);
}

.searchBar-3TnChZ {
    border-radius: var(--radius);
    top: 45px;
    background-color: var(--background-secondary) !important;
    width: 210px;
    position: fixed;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--background-primary);
    border-radius: var(--radius);
    text-align: center;
}


#app-mount .containerDefault-YUSmu3 .wrapper-NhbLHG, #app-mount .channel-1Shao0 {
    margin-left: 10px;
    width: 91%;
}
.avatar-1HDIsL, .layout-1LjVue {
    margin-left: 5px;
    border-radius: var(--radius) !important;
}

.peopleColumn-1wMU14 {
        padding: 10px;
        margin: 10px 5px 24px 16px;
        border-radius: var(--radius) !important;
        background-color: var(--background-secondary) !important;
}
.interactive-iyXY_x {
    border-radius: var(--radius) !important;
}

.nowPlayingColumn-1eCBCN {
    margin: 10px 15px 24px 10px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
}
.container-1oAagU {
    background-color: transparent;
    height: 98% !important;
}
.privateChannelsHeaderContainer-1UWASm {
    bottom: 8px;
    position: relative;
}