.privateChannels-oVe7HL {
    margin-left: 10px;
    background-color: var(--background-secondary) !important;
    margin-bottom: 22px !important;
    margin-top: 65px;
    border-radius: var(--radius);
}

.searchBar-3TnChZ {
    border-radius: var(--radius);
    top: 45px;
    background-color: var(--background-secondary) !important;
    width: 210px;
    position: fixed;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--background-primary);
    border-radius: var(--radius);
    text-align: center;
}