/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
/* @import url("https://discordstyles.github.io/Addons/bottomhsl.css"); */

:root {
    --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
    --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
  }
  
:root {
    --server-size:var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing:var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container:calc(var(--server-size) + 20px);
    --server-direction:var(--HSL-server-direction, column);
  }
  
  #app-mount {
    .app-3xd6d0 .base-2jDfDU {
      top: var(--server-container) !important;
      position: absolute !important;
      left: 0 !important;
      right: 0;
      bottom: 0;
      max-width: 100%;
    }
  
    .sidebar-1tnWFu {
      border-radius: 0;
    }
  
    [class*=unreadMentionsIndicator] {
      width: var(--server-size);
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
      height: auto;
    }
  
    .guilds-2JjMmN {
      transform-origin: top left;
      transform: rotate(-90deg);
      height: 100vw !important;
      width: var(--server-container);
      top: var(--server-container);
      bottom: unset;
      position: absolute !important;
      left: 0;
    }
  }
  
  #app-mount {
    .guilds-2JjMmN {
      > [data-list-id=guildsnav] {
        margin-bottom: 0 !important;
      }
  
      .scrollerWrap-1IAIlv {
        width: calc(100% + 30px);
      }
  
      .scrollerBase-_bVAAt {
        padding: var(--server-spacing) 0 !important;
        display: flex;
        flex-direction: var(--server-direction);
        gap: var(--server-spacing);
  
        > div {
          &[style]:not(.listItem-2P_4kh) {
            height: auto !important;
  
            &[style*="height: 0px"] {
              padding-top: 1px;
            }
          }
  
          &[aria-label] {
            display: flex;
            flex-direction: var(--server-direction);
            gap: var(--server-spacing);
          }
        }
      }
  
      .svg-2zuE5p, .wrapper-28eC3z, .guildsError-b7zR5H, .placeholderMask-2FHNZU {
        width: var(--server-size);
        height: var(--server-size);
      }
  
      [role=group] {
        height: auto !important;
      }
  
      [class*=pill] {
        transform: rotate(90deg) translateY(-50%);
        height: var(--server-size);
        width: 4px;
        top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
        margin-left: -2px;
  
        span {
          height: 100% !important;
          width: 4px !important;
          transform: scale(0, 1) !important;
          transition: 0.15s ease !important;
          margin-left: 0;
          border-radius: 0 4px 4px 0;
  
          &[style*="height: 0"], &[style*="height: 1"], &[style*="height: 2"], &[style*="height: 3"], &[style*="height: 4"], &[style*="height: 5"], &[style*="height: 6"], &[style*="height: 7"], &[style*="height: 8"] {
            transform: scale(1, 0.24) !important;
          }
  
          &[style*="height: 9"], &[style*="height: 10"], &[style*="height: 11"], &[style*="height: 12"], &[style*="height: 13"], &[style*="height: 14"], &[style*="height: 15"], &[style*="height: 16"], &[style*="height: 17"], &[style*="height: 18"], &[style*="height: 19"], &[style*="height: 20"] {
            transform: scale(1, 0.7) !important;
          }
  
          &[style*="height: 21"], &[style*="height: 22"], &[style*="height: 23"], &[style*="height: 24"], &[style*="height: 25"], &[style*="height: 26"], &[style*="height: 27"], &[style*="height: 28"], &[style*="height: 29"], &[style*="height: 30"], &[style*="height: 31"], &[style*="height: 32"], &[style*="height: 33"], &[style*="height: 34"], &[style*="height: 35"], &[style*="height: 36"], &[style*="height: 37"], &[style*="height: 38"], &[style*="height: 39"], &[style*="height: 40"] {
            transform: scale(1, 1) !important;
          }
        }
      }
  
      .wrapper-z5ab_q {
        height: var(--server-size) !important;
      }
  
      .wrapper-38slSD {
        width: var(--server-container);
        display: flex;
        flex-direction: var(--server-direction);
        gap: var(--server-spacing);
  
        ul[role=group] {
          display: flex;
          flex-direction: var(--server-direction);
          gap: var(--server-spacing);
        }
      }
  
      [class*=listItem]:not([class*=listItemWrapper]) {
        width: var(--server-size);
        transform: rotate(90deg);
        margin: 0 10px;
        position: unset;
      }
  
      [class*=guildSeparator] {
        transform: rotate(90deg);
        width: var(--server-size);
      }
  
      [class*=expandedFolderBackground] {
        width: var(--server-size);
        left: 50%;
        border-radius: 10px;
        transform: translateX(-50%);
        height: 100%;
      }
  
      .folder-21wGz3 {
        background: transparent;
      }
  
      .wrapper-3XVBev {
        top: 0;
        bottom: 0;
      }
  
      .target-1eRTCg::before {
        top: 0;
        height: var(--server-size);
        width: 4px;
        left: -6px;
      }
  
      &.hidden-10MsGQ + .base-2jDfDU {
        top: 0 !important;
      }
    }
  
    [class*=listItemTooltip] {
      position: absolute;
      max-width: unset;
      white-space: nowrap;
      margin-left: calc(var(--server-size) / -1 - 20px);
      top: calc(var(--server-size) - 10px);
  
      [class*=tooltipPointer] {
        transform: rotate(180deg);
        top: -5px;
        right: unset;
        left: 13px;
        z-index: 1;
      }
    }
  
    .friendsOnline-2JkivW {
      position: absolute;
      transform: translate(-50%, 50%);
      top: calc(-50% + var(--server-spacing));
      left: -50%;
      width: calc(var(--server-size) + var(--server-spacing));
      display: flex;
      justify-content: center;
    }
  
    .guilds-2JjMmN.content-Pph8t6, .BF-folderSidebar {
      position: absolute !important;
      top: calc(var(--server-container) * 2) !important;
    }
  
    .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU, .BF-folderSidebar:not(.closed-j55_T-) + .base-2jDfDU {
      top: calc(var(--server-container) * 2.5) !important;
    }
  
    .guilds-2JjMmN .frame-oXWS21[class*=listItem] {
      height: var(--server-size) !important;
  
      .wrapper-3kah-n {
        height: 100% !important;
      }
  
      .button-Jt-tIg {
        width: 100%;
        height: 100% !important;
        border-radius: 50%;
        padding: 2px;
        font-size: 10px;
        box-sizing: border-box;
        text-align: center;
      }
    }
  
    .BF-folderSidebar {
      top: calc(var(--server-container)) !important;
    }
  
    .serverCountWrap-k8F5De {
      height: var(--server-size);
    }
  
    .serverCount-FsTTs1 {
      white-space: pre-line;
      font-size: 12px;
      display: flex;
      align-items: center;
    }
  }
  
  html.platform-osx #app-mount {
    .typeMacOS-3EmCyP {
      width: 100%;
    }
  
    .base-2jDfDU {
      top: calc(var(--server-container) + 30px) !important;
    }
  
    #pluginNotice {
      top: 32px;
      z-index: 100000 !important;
    }
  }
  
  body.foldercontentopened .base-2jDfDU {
    transition: 0.2s ease !important;
  }