/* MacOS */
/* Keko#6043 */
/* Leeprky#2063 */
:root {
  --win-close-background-colour: transparent !important;
  --win-max-background-colour: transparent !important;
  --win-min-background-colour: transparent !important;
}
.winButton-3UMjdg {
  top: 0px !important;
  pointer-events: none;
  margin-left: -6px;
  top: -4px !important;
  transform: scale(1.1);
}
.winButton-3UMjdg > svg {
  display: none;
}
.winButton-3UMjdg:hover {
  background-color: var(--background-teritary);
}
.winButton-3UMjdg::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
  transition-duration: 200ms;
}
.winButtonClose-3Q8ZH5 {
  margin-right: 5px;
}
.winButtonClose-3Q8ZH5::after {
  background-color: var(--macos-close-bg-dark);
  margin-top: 0px;
}
.theme-light .withFrame-2dL45i .winButtonClose-3Q8ZH5::after {
  background-color: var(--macos-close-bg-light);
  margin-top: 0px;
}
.withFrame-2dL45i .winButtonClose-3Q8ZH5:hover::after {
  background-color: var(--macos-close-bg-hover);
  transform: scale(1.1);
}
.withFrame-2dL45i .winButtonMinMax-3RsPUg:nth-child(3)::after {
  background-color: var(--macos-min-bg-dark);
  margin-top: 0px;
}
.theme-light .withFrame-2dL45i .winButtonMinMax-3RsPUg:nth-child(3)::after {
  background-color: var(--macos-min-bg-light);
  margin-top: 0px;
}
.withFrame-2dL45i .winButtonMinMax-3RsPUg:nth-child(3):hover::after {
  background-color: var(--macos-min-bg-hover);
  transform: scale(1.1);
}
.withFrame-2dL45i .winButtonMinMax-3RsPUg:nth-child(4):after {
  background-color: var(--macos-max-bg-dark);
  margin-top: 0px;
}
.theme-light .withFrame-2dL45i .winButtonMinMax-3RsPUg:nth-child(4):after {
  background-color: var(--macos-max-bg-light);
  margin-top: 0px;
}
.withFrame-2dL45i .winButtonMinMax-3RsPUg:nth-child(4):hover::after {
  background-color: var(--macos-max-bg-hover);
  transform: scale(1.1);
  margin-top: 0px;
}
