.accountProfileCard-lbN7n- {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.background-3d_SjE {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.profileBannerPreview-3mLIdO {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-2px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.authedApp-1tw-eT {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.wrapper-1xW8FI {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.connection-107AGH {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-1px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewMessage-2uxBrA {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.preview-rua1rr {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-37c2Si {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.membershipDialog-2wAdpQ {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.video-36dXVU {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-1eD8xH {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-2px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.avatarUploaderInner-yEhTv5 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.progressBarImage-3lGAbU {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-1GxmBJ {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-1xQAsw {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.upsellContainer-22N_CL {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.tier-3CS7-p {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.headerClickable-zGQJz3 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.card-3JmxsM {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
img.flexChild-3PzYmX {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.descriptionBox-SKGNgB {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.inputDefault-3FGxgL {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.upsellContainer-2a5eMP {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.sidebarContainer-3Lxtaw {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.containerBackground-1uOjjv {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.containerWithIcon-262wXy {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.error-3AuLwi {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.developerPortalCtaWrapper-2PniQs {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.featureCard-3XHbjy {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-3jbRo5 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.checklistContainer-12xGp5 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.placeholderCard-2jZYky {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewCard-22p9UT {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-13pE3E {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-29oeA6 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.welcomeChannel-_Q4qAA {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-3rxzV7 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.item-2idW98 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-27IskS {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.flex-2S1XBF {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.peopleListItem-u6dGxF {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.rowWrapper-N-4fji {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.categoryFadeBlurple-1HuV1x {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.result-3OpoO7 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.sticker-H2HhJD {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: var(--elevation-high);
	}
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
button {
	&:not(.barButtonMain-2GIx4o) {
        transition: var(--pop-transiton-time);
		&:hover {
			transform: translateY(-4px) scale(1.02);
			transition: var(--pop-transiton-time);
			box-shadow: var(--elevation-high);
		}
	}
}
.item-3XjbnG {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.channel-1Shao0 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.member-2gU6Ar {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.item-1OdjEX {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.imageWrapper-oMkQl4 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.assetWrapper-2hzITV {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.embedWrapper-1MtIDg {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.avatar-2e8lTP {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.tile-3GyaDQ {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.tile-38DNjt {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.iconWrapper-2awDjA {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.draggable-S2aEx4 {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
 .content-1gYQeQ {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-2px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}

.itemCard-3Etziu {
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.hero-1aNo0v {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.feature-2IUcBI {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.resultFocused-3aIoYe {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.input-3r5zZY {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.searchHeader-3ZIh2x {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.categoryItem-3zFJns {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.loaded-igpmmx {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.control-1fl03- {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
.powercord-product {		
    transition: var(--pop-transiton-time);
	&:hover {
		transform: translateY(-4px) scale(1.02);
		transition: var(--pop-transiton-time);
		box-shadow: var(--elevation-high);
	}
}
/* Emoji Auto-Fill Animation */
.base-2v-uc0 {
    transition: all 0.5s;
}
.base-2v-uc0:hover {
    transition: all 0s;
    transform: scale(1.02);
}
/* Pop-out Animation */ 
.menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}
@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
