.accountProfileCard-lbN7n- {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.accountProfileCard-lbN7n-:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.background-3d_SjE {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.background-3d_SjE:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.profileBannerPreview-3mLIdO {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.profileBannerPreview-3mLIdO:hover {
	transform: translateY(-2px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.authedApp-1tw-eT {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.authedApp-1tw-eT:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.wrapper-1xW8FI {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.wrapper-1xW8FI:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.connection-107AGH {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.connection-107AGH:hover {
	transform: translateY(-1px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.previewMessage-2uxBrA {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewMessage-2uxBrA:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.preview-rua1rr {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.preview-rua1rr:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.previewContainer-37c2Si {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-37c2Si:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.membershipDialog-2wAdpQ {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.membershipDialog-2wAdpQ:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.video-36dXVU {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.video-36dXVU:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.container-1eD8xH {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-1eD8xH:hover {
	transform: translateY(-2px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.avatarUploaderInner-yEhTv5 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.avatarUploaderInner-yEhTv5:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.progressBarImage-3lGAbU {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.progressBarImage-3lGAbU:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.previewContainer-1GxmBJ {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-1GxmBJ:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.previewContainer-1xQAsw {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-1xQAsw:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.upsellContainer-22N_CL {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.upsellContainer-22N_CL:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.tier-3CS7-p {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.tier-3CS7-p:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.headerClickable-zGQJz3 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.headerClickable-zGQJz3:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.card-3JmxsM {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.card-3JmxsM:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
img.flexChild-3PzYmX {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
img.flexChild-3PzYmX:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.descriptionBox-SKGNgB {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.descriptionBox-SKGNgB:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.inputDefault-3FGxgL {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.inputDefault-3FGxgL:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.upsellContainer-2a5eMP {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.upsellContainer-2a5eMP:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.sidebarContainer-3Lxtaw {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.sidebarContainer-3Lxtaw:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.containerBackground-1uOjjv {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.containerBackground-1uOjjv:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.containerWithIcon-262wXy {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.containerWithIcon-262wXy:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.error-3AuLwi {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.error-3AuLwi:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.developerPortalCtaWrapper-2PniQs {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.developerPortalCtaWrapper-2PniQs:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.featureCard-3XHbjy {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.featureCard-3XHbjy:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.container-3jbRo5 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-3jbRo5:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.checklistContainer-12xGp5 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.checklistContainer-12xGp5:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.placeholderCard-2jZYky {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.placeholderCard-2jZYky:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.previewCard-22p9UT {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewCard-22p9UT:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.container-13pE3E {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-13pE3E:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.previewContainer-29oeA6 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.previewContainer-29oeA6:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.welcomeChannel-_Q4qAA {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.welcomeChannel-_Q4qAA:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.container-3rxzV7 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-3rxzV7:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.item-2idW98 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.item-2idW98:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.container-27IskS {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.container-27IskS:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.flex-2S1XBF {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.flex-2S1XBF:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.peopleListItem-u6dGxF {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.peopleListItem-u6dGxF:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.rowWrapper-N-4fji {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.rowWrapper-N-4fji:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.categoryFadeBlurple-1HuV1x {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.categoryFadeBlurple-1HuV1x:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.result-3OpoO7 {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.result-3OpoO7:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
.sticker-H2HhJD {
	transition: var(--pop-transiton-time);
	transition: var(--pop-transiton-time);
	box-shadow: none;
}
.sticker-H2HhJD:hover {
	transform: translateY(-4px) scale(1.02);
	box-shadow: var(--elevation-high);
}
button:not(.barButtonMain-2GIx4o) {
	transition: var(--pop-transiton-time);
}
button:not(.barButtonMain-2GIx4o):hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.item-3XjbnG {
	transition: var(--pop-transiton-time);
}
.item-3XjbnG:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.channel-1Shao0 {
	transition: var(--pop-transiton-time);
}
.channel-1Shao0:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.member-2gU6Ar {
	transition: var(--pop-transiton-time);
}
.member-2gU6Ar:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.item-1OdjEX {
	transition: var(--pop-transiton-time);
}
.item-1OdjEX:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.imageWrapper-oMkQl4 {
	transition: var(--pop-transiton-time);
}
.imageWrapper-oMkQl4:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.assetWrapper-2hzITV {
	transition: var(--pop-transiton-time);
}
.assetWrapper-2hzITV:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.embedWrapper-1MtIDg {
	transition: var(--pop-transiton-time);
}
.embedWrapper-1MtIDg:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.avatar-2e8lTP {
	transition: var(--pop-transiton-time);
}
.avatar-2e8lTP:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.tile-3GyaDQ {
	transition: var(--pop-transiton-time);
}
.tile-3GyaDQ:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.tile-38DNjt {
	transition: var(--pop-transiton-time);
}
.tile-38DNjt:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.iconWrapper-2awDjA {
	transition: var(--pop-transiton-time);
}
.iconWrapper-2awDjA:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.draggable-S2aEx4 {
	transition: var(--pop-transiton-time);
}
.draggable-S2aEx4:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.content-1gYQeQ {
	transition: var(--pop-transiton-time);
}
.content-1gYQeQ:hover {
	transform: translateY(-2px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.itemCard-3Etziu {
	transition: var(--pop-transiton-time);
}
.itemCard-3Etziu:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.hero-1aNo0v {
	transition: var(--pop-transiton-time);
}
.hero-1aNo0v:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.feature-2IUcBI {
	transition: var(--pop-transiton-time);
}
.feature-2IUcBI:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.resultFocused-3aIoYe {
	transition: var(--pop-transiton-time);
}
.resultFocused-3aIoYe:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.input-3r5zZY {
	transition: var(--pop-transiton-time);
}
.input-3r5zZY:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.searchHeader-3ZIh2x {
	transition: var(--pop-transiton-time);
}
.searchHeader-3ZIh2x:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.categoryItem-3zFJns {
	transition: var(--pop-transiton-time);
}
.categoryItem-3zFJns:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.loaded-igpmmx {
	transition: var(--pop-transiton-time);
}
.loaded-igpmmx:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.control-1fl03- {
	transition: var(--pop-transiton-time);
}
.control-1fl03-:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
.powercord-product {
	transition: var(--pop-transiton-time);
}
.powercord-product:hover {
	transform: translateY(-4px) scale(1.02);
	transition: var(--pop-transiton-time);
	box-shadow: var(--elevation-high);
}
