

.wrapper-1HIH0j {
    background-color: var(--background-tertiary) !important;
    margin-top: 10px;
    border-radius: var(--radius);
}
.theme-dark .message-G6O-Wv {
    background-color: var(--background-secondary) !important;
}
.root-g14mjS, .body-1Ukv50, .topSection-13QKHs {
    background-color: var(--background-floating) !important;
    border-radius: var(--radius);
}

.form-3gdLxP {
    margin-top: -25px;
}

.webkit-QgSAqd .buttons-uaqb-5 {
    margin-right: 5px !important;
}
.message-2CShn3:hover, .compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg:hover {
    background-color: var(--background-mentioned-hover) !important;
}

.attachButton-1ijpt9, .buttons-uaqb-5, .editor-H2NA06 {
    margin-top: 4px;
}
.mentioned-Tre-dv:before {
    background-color: var(--alt-color2) !important;
}

.mentioned-Tre-dv {
    background-color: var(--background-mentioned) !important;
    border-radius: 0px 12px 12px 0 !important;
}
.message-2CShn3 {
    padding: var(--padding);
    margin: 5px;
    border-radius: var(--radius);
    margin-left: 8px;
    margin-right: 8px;
}
.message-2CShn3:hover, .compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg:hover {
    background-color: var(--background-message-hover) !important;
    filter: brightness(95%);
    border-radius: var(--radius);
}
.group-spacing-16 .groupStart-3Mlgv1 {
    margin-top: 0px;
}
.cozyMessage-1DWF9U.groupStart-3Mlgv1 {
    height: 110% !important;
}
.group-spacing-16 .divider-IqmEqJ.hasContent-1y12-u {
    margin-bottom: 20px !important;
    margin-top: 20px; 
}

.group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt {
    margin-bottom: 15px !important;
    margin-top: 0px;
    top: 0.3rem !important;
}
.searchResultsWrap-5RVOkx {
    padding: 10px;
    margin: 10px 16px 24px 8px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
  }
  .searchHeader-1r_ZSh {
      border-radius: var(--radius);
  }

.messagesWrapper-RpOMA3 {
    padding: 10px;
    margin: 8px 5px 32px 16px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
  }
  .wrapper-2R36Wv {
    background-color: var(--background-secondary) !important;
    margin: 12px 5px 32px 16px !important;
    border-radius: var(--radius);
}
  .wrapper-15CKyy, .wrapper-3HVHpV {
      background-color: var(--background-message) !important;
      border-radius: var(--radius) !important;
      margin-top: 10px;
  }
  .wrapper-3HVHpV {
    background-color: var(--background-secondary) !important;
    border-radius: var(--radius) !important;
  }
  .messagesWrapper-RpOMA3 .scrollerBase-_bVAAt {
      margin-bottom: -25px !important;
  }

  .operations-3q3u6E {
      margin-top: 20px;
  }
  .textArea-2CLwUE,
  .attachWrapper-3slhXI,
  .buttons-uaqb-5 {
      padding-bottom: 1px !important;
  }

  .chatContent-3KubbW .buttons-uaqb-5 > .expression-picker-chat-input-button:nth-of-type(3) {
      background-color: var(--background-secondary) !important;
  }

  .mentioned-Tre-dv:before {
    box-shadow: 0px 0px 20px 1.5px var(--alt-color2);
  }
  .markup-eYLPri code, .imageWrapper-oMkQl4{
      background-color: var(--background-tertiary);
      border-radius: var(--radius);
  }

  .content-3spvdd {
      background: transparent !important;
      padding: 5px !important;
  }

  .scrollableContainer-15eg7h {
    box-shadow: 0px 00px 00px 6px var(--background-primary);
  }
  .scrollableContainer-15eg7h {
      margin-right: -11px !important;
  }

  .cozy-VmLDNB .headerText-2z4IhQ > span::before {
    content: ''; 
    width: calc(100% + 7px); 
    height: 100%;
    border-radius: 5px;
    background-color: currentColor; 
    opacity: 0.1; 
    position: absolute; 
    top: 0; 
    z-index: -1;
    /* repairs left shift*/
    left: -3px;
  }

  .chatContent-3KubbW {
    margin-right: 15px;
}

  .cozy-VmLDNB .headerText-2z4IhQ > span::after, .cozy-VmLDNB .headerText-2z4IhQ.hasRoleIcon-1Usc6e > span::after {
    content: "";
  }
  /* repairs left shift */
  .cozy-VmLDNB .headerText-2z4IhQ > span, .cozy-VmLDNB .headerText-2z4IhQ.hasRoleIcon-1Usc6e > span {
    margin-left: 3px;
  }
  .cozy-VmLDNB .header-2jRmjb {
      color: transparent !important;
  }

  div[class^=dot-], div[class^=newMessagesBar-] {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
    border-radius: var(--radius);
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}
.jumpToPresentBar-1cEnH0 {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
    border-radius: var(--radius);
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 5px;
    width: fit-content;
}
.barButtonMain-2GIx4o, .barButtonAlt-TQoCdZ {
    top: 3.5px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

/* Horizontally listed media */
[id*="message-accessories-"] {
    display: flex;
    flex-wrap: wrap;
}
[id*="message-accessories-"] > * {
    margin-right: .4em !important;
    min-height: 100% !important;
}
[id*="message-accessories-"] > div > a {
    display: flex;
    align-items: center;
    min-height: 100%;
    background-color: var(--background-secondary);
}
[id*="message-reactions"] {
    width: 100%;
}
.emojiButton-3FRTuj {
    background-color: transparent !important;
}

.mention:not(.iconMention-3WxjBe) {
    border-radius: var(--radius);
    padding: 4px;
    content: "";
}

.embedFull-1HGV2S {
    border-left: px solid var(--alt-color2) !important;
    border-radius: var(--radius);
    background: var(--background-tertiary) !important;
}

.attachedBars-2BCP3l {
    position: relative;
    bottom: 8px;
    right: -2px;
    margin-top: 10px;
    border-radius: var(--radius) !important;
    margin-right: -9px;
}
.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
    border-radius: var(--radius) !important;
}
.replyLabel-WWnhHi {
    margin-bottom: 0px;
}

.upload-vLbqu- {
    position: relative;
    padding: 12px;
    bottom: 11px;
    right: -2px;
    margin-top: 10px;
    border-radius: var(--radius) !important;
    margin-right: -9px;
    background-color: var(--background-tertiary);
}
.divider-2rZFJK {
    display: none;
}

.reaction-2A2y9y {
    width: min-width;
    background-color: var(--background-tertiary);
    padding: 4px;
    border-radius: var(--radius);
}
.reactionCount-1zkLcN {
    margin-left: 8px;
    margin-top: -2px;
}

.progress-24WBU3, .progressBar-1T6LYX {
    background-color: var(--green-color) !important;
    margin-left: 10px;

}

.header-11eigE, .contentWrapper-3vHNP2,
.inspector-DFKXwB,
.wrapper-1NNaWG,
.wrapper-22rqw6 {
    background-color: var(--background-floating);
}
.icon-18rqoe {
    color: var(--alt-color2) !important;
}

.comboMultiplier-YkNec8 {
    color: var(--alt-color2) !important;
}

[class*="blob-"]:nth-child(1),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.1s infinite alternate !important;
}
[class*="blob-"]:nth-child(2),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.2s infinite alternate !important;
}
[class*="blob-"]:nth-child(3),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.3s infinite alternate !important;
}
[class*="blob-"]:nth-child(4),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.4s infinite alternate !important;
}
[class*="blob-"]:nth-child(5),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.5s infinite alternate !important;
}
[class*="blob-"]:nth-child(6),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.6s infinite alternate !important;
}
[class*="blob-"]:nth-child(7),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.7s infinite alternate !important;
}
[class*="blob-"]:nth-child(8),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.8s infinite alternate !important;
}
[class*="blob-"]:nth-child(9),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.9s infinite alternate !important;
}
[class*="blob-"]:nth-child(10),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 1s infinite alternate !important;
}
@keyframes fadeAnim {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0.4);
  }
}

.emptyChannelIcon-1YdEz2 {
    display: none;
}

.slateTextArea-27tjG0 {
    text-align: var(--text-alignment) !important;
}

.activeButtonChild-2hgLAO {
    color: var(--alt-color2) !important; 
}