

.wrapper-1HIH0j {
    background-color: var(--background-tertiary) !important;
    margin-top: 10px;
    border-radius: var(--radius);
}

.form-3gdLxP {
    margin-top: -25px;
}

.webkit-QgSAqd .buttons-uaqb-5 {
    margin-right: 5px !important;
}

.attachButton-1ijpt9, .buttons-uaqb-5, .editor-H2NA06 {
    margin-top: 4px;
}
.mentioned-Tre-dv:before {
    background-color: var(--alt-color2) !important;
}

.mentioned-Tre-dv {
    background-color: var(--background-mentioned) !important;
    border-radius: 0px 12px 12px 0 !important;
}
.message-2CShn3 {
    padding: var(--padding);
    margin: 5px;
    border-radius: var(--radius);
    margin-left: 8px;
    margin-right: 8px;
}
.message-2CShn3:hover, .compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg:hover {
    background-color: var(--background-message-hover) !important;
    filter: brightness(95%);
    border-radius: var(--radius);
}
.group-spacing-16 .groupStart-3Mlgv1 {
    margin-top: 0px;
}
.cozyMessage-1DWF9U.groupStart-3Mlgv1 {
    height: 110% !important;
}
.group-spacing-16 .divider-IqmEqJ.hasContent-1y12-u {
    margin-bottom: 20px !important;
    margin-top: 20px; 
}

.group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt {
    margin-bottom: 15px !important;
    margin-top: 0px;
    top: 0.3rem !important;
}
.searchResultsWrap-5RVOkx {
    padding: 10px;
    margin: 10px 16px 12px 8px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
  }
  .searchHeader-1r_ZSh {
      border-radius: var(--radius);
  }

.messagesWrapper-RpOMA3 {
    padding: 10px;
    margin: 8px 5px 32px 16px;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
  }
  .wrapper-15CKyy, .wrapper-3HVHpV {
      background-color: var(--background-message) !important;
      border-radius: var(--radius) !important;
      margin-top: 10px;
  }
  .wrapper-3HVHpV {
    background-color: var(--background-secondary) !important;
    border-radius: var(--radius) !important;
  }
  .messagesWrapper-RpOMA3 .scrollerBase-_bVAAt {
      margin-bottom: -25px !important;
  }

  .operations-3q3u6E {
      margin-top: 20px;
  }

  .mentioned-Tre-dv:before {
    box-shadow: 0px 0px 20px 1.5px var(--alt-color2);
  }
  .markup-eYLPri code, .imageWrapper-oMkQl4{
      background-color: var(--background-tertiary);
      border-radius: var(--radius);
  }

[class="cooldownWrapper-2k1jHK"] {
      bottom: 70px;
      position: relative;
  }
  .content-3spvdd {
      background: transparent !important;
      padding: 5px !important;
  }

  .scrollableContainer-15eg7h {
    box-shadow: 0px 00px 00px 6px var(--background-primary);
  }

  .cozy-VmLDNB .headerText-2z4IhQ > span::before {
    content: ''; 
    width: calc(100% + 7px); 
    height: 100%;
    border-radius: 5px;
    background-color: currentColor; 
    opacity: 0.1; 
    position: absolute; 
    top: 0; 
    z-index: -1;
    /* repairs left shift*/
    left: -3px;
  }
  .cozy-VmLDNB .headerText-2z4IhQ > span::after, .cozy-VmLDNB .headerText-2z4IhQ.hasRoleIcon-1Usc6e > span::after {
    content: ":";
  }
  /* repairs left shift */
  .cozy-VmLDNB .headerText-2z4IhQ > span, .cozy-VmLDNB .headerText-2z4IhQ.hasRoleIcon-1Usc6e > span {
    margin-left: 3px;
  }
  .cozy-VmLDNB .header-2jRmjb {
      color: transparent !important;
  }

  div[class^=dot-], div[class^=newMessagesBar-] {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
    border-radius: var(--radius);
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}
.jumpToPresentBar-1cEnH0 {
    background-color: rgba(var(--alt-color)) !important;
    border-color: rgba(var(--alt-color)) !important;
    border-radius: var(--radius);
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 5px;
    width: fit-content;
}
.scrollableContainer-15eg7h {
    margin-right: -10px;
    margin-bottom: -12px;
    min-height: 50px !important;
    position: relative;
}
[class=cooldownWrapper-2k1jHK] {
    background-color: var(--background-tertiary) !important;
    border-color: rgba(var(--alt-color)) !important;
    border-radius: var(--radius);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;

    margin-right: 0px;
    margin-bottom: 20px;
    color: #000;
}
.barButtonMain-2GIx4o, .barButtonAlt-TQoCdZ {
    top: 3.5px;
    color: #000;
}

/* Horizontally listed media */
[id*="message-accessories-"] {
    display: flex;
    flex-wrap: wrap;
}
[id*="message-accessories-"] > * {
    margin-right: .4em !important;
    min-height: 100% !important;
}
[id*="message-accessories-"] > div > a {
    display: flex;
    align-items: center;
    min-height: 100%;
    background-color: var(--background-secondary);
}
[id*="message-reactions"] {
    width: 100%;
}