// List
.guilds-2JjMmN {
    width: 90px;
}
.tree-3agP2X {
    margin-left: 10px;
    margin-top: 0px;
}
div[style="opacity: 1; height: 56px; transform: scale(1);"] {
    top: 8px;
    position: relative;
}

.wrapper-28eC3z {
    background-color: var(--background-secondary);
    transition: var(--pop-transition);
}
.wrapper-28eC3z:hover {
    transition: var(--pop-transition);
    background-color: rgba(var(--alt-color), 0.2)
}

// Favourite Icon
[d="M21.924 8.61789C21.77 8.24489 21.404 8.00089 21 8.00089H15.618L12.894 2.55389C12.555 1.87689 11.444 1.87689 11.105 2.55389L8.38199 8.00089H2.99999C2.59599 8.00089 2.22999 8.24489 2.07599 8.61789C1.92199 8.99089 2.00699 9.42289 2.29299 9.70789L6.87699 14.2919L5.03899 20.7269C4.92399 21.1299 5.07199 21.5619 5.40999 21.8089C5.74999 22.0569 6.20699 22.0659 6.55399 21.8329L12 18.2029L17.445 21.8329C17.613 21.9449 17.806 22.0009 18 22.0009C18.207 22.0009 18.414 21.9369 18.59 21.8089C18.928 21.5619 19.076 21.1299 18.961 20.7269L17.123 14.2919L21.707 9.70789C21.993 9.42289 22.078 8.99089 21.924 8.61789Z"] {
    d: path("M16.44 3.10156C14.63 3.10156 13.01 3.98156 12 5.33156C10.99 3.98156 9.37 3.10156 7.56 3.10156C4.49 3.10156 2 5.60156 2 8.69156C2 9.88156 2.19 10.9816 2.52 12.0016C4.1 17.0016 8.97 19.9916 11.38 20.8116C11.72 20.9316 12.28 20.9316 12.62 20.8116C15.03 19.9916 19.9 17.0016 21.48 12.0016C21.81 10.9816 22 9.88156 22 8.69156C22 5.60156 19.51 3.10156 16.44 3.10156Z") !important;
    transform: scale(1.1) translate(-1.5px, -1px);
}

.wrapper-3kah-n[aria-label=" Favourites"]:hover [d="M21.924 8.61789C21.77 8.24489 21.404 8.00089 21 8.00089H15.618L12.894 2.55389C12.555 1.87689 11.444 1.87689 11.105 2.55389L8.38199 8.00089H2.99999C2.59599 8.00089 2.22999 8.24489 2.07599 8.61789C1.92199 8.99089 2.00699 9.42289 2.29299 9.70789L6.87699 14.2919L5.03899 20.7269C4.92399 21.1299 5.07199 21.5619 5.40999 21.8089C5.74999 22.0569 6.20699 22.0659 6.55399 21.8329L12 18.2029L17.445 21.8329C17.613 21.9449 17.806 22.0009 18 22.0009C18.207 22.0009 18.414 21.9369 18.59 21.8089C18.928 21.5619 19.076 21.1299 18.961 20.7269L17.123 14.2919L21.707 9.70789C21.993 9.42289 22.078 8.99089 21.924 8.61789Z"]{
      fill: #F62B30;
}

  .childWrapper-1j_1ub:hover, .wrapper-3kah-n[aria-label=" Favourites"] .childWrapper-1j_1ub:hover {
      background-color: #f62b2e44 !important;
      backdrop-filter: blur(2px);
      
}

// Items 
.item-2LIpTv {
    border-radius: var(--radius);
    width: 3px;
    margin-left: 1px;
    min-height: 15px;
    transform: var(--pop-transition);
}

div[style="opacity: 1; height: 56px; transform: scale(1);"] {
    margin-bottom: 2px;
    top: 0px;
}