@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://discord-custom-covers.github.io/usrbg/snippets/modals.css");
@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");