@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://discord-custom-covers.github.io/usrbg/snippets/modals.css");
@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");

.bd-sidebar-header, 
[aria-controls="settings-tab"], 
[aria-controls="emotes-tab"], 
[aria-controls="customcss-tab"], 
[aria-controls="plugins-tab"],
[aria-controls="themes-tab"], 
[aria-controls="themes-tab"]      + .separator-2wx7h6, 
[aria-controls="pluginrepo-tab"], 
[aria-controls="pluginrepo-tab"] + .separator-2wx7h6, 
[aria-controls="themerepo-tab"] + .separator-2wx7h6, 
[aria-controls="themerepo-tab"]{
  order: -1;
}

