[class="vz-dashboard-sidebar sidebar-1tnWFu"] {
    padding: 12px;
    margin: 8px 2px 25px 6px !important;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
}

.theme-dark .pageWrapper-2PwDoS,
.theme-dark .pageWrapper-2PwDoS {
    margin: 8px 12px 25px 12px !important;
    height:  97% !important;
    border-radius: var(--radius) !important;
    background-color: var(--background-secondary) !important;
}

[class="vz-dashboard-sidebar sidebar-1tnWFu"] .panels-3wFtMD .container-YkUktl {
    left: -5px !important;
    background-color: var(--background-secondary-alt) !important;
    bottom: 0px;
}
.panels-3wFtMD {
    background-color: var(--background-secondary) !important;
}
.vz-dashboard-home .vz-wave-divider {
    color: var(--background-secondary) !important;
}
.container-1oeRFJ,
.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4{
    border-radius: var(--radius) !important;
    transition: var(--pop-transiton-time);
}
.vz-dashboard-sidebar[vz-collapsed] .vz-dashboard-sidebar-inner {
    border-radius: var(--radius);
}
.categoryItem-Kc_HK_[vz-collapsed] {
    margin-left: 7px !important;
}
.vz-dashboard-layout > div .flex-2S1XBF {
    transform: scale(1) !important;
    box-shadow: none !important;
}