@media only screen and (max-width: 1040px) {
    .sidebar-1tnWFu {
        width: 75px;
        transition: var(--pop-transiton-time);
        border-radius: var(--radius);
      }
      .sidebar-1tnWFu:hover {
        width: 240px;
        transition: var(--pop-transiton-time);
        border-radius: var(--radius);
      }
  }