@import "https://leeprky.github.io/snippits/discoloured.css";

// Background Primary
.container-1NXEtd, 
.panels-3wFtMD,
.peopleColumn-1wMU14,
.nowPlayingColumn-1eCBCN, 
.theme-dark .container-2cd8Mz, .theme-light .container-2cd8Mz
{background: var(--background-primary) !important;}

// Background Secondary
.members-3WRCEx, .members-3WRCEx>div,
.colorable-3rVGna.primaryDark-2UJt1G,
.theme-dark .selected-3H3-RC, .theme-light .selected-3H3-RC
{background: var(--background-secondary) !important;}

// Tertiary 
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover, .theme-light .outer-2JOHae.active-1W_Gl9, .theme-light .outer-2JOHae.interactive-2zD88a:hover, 
.theme-dark .focused-2FU0YH, .theme-light .focused-2FU0YH {
  background-color: var(--background-tertiary);
}

// Radius
.theme-dark .selected-3H3-RC {
  border-radius: var(--radius) !important;
}

// Floating
.categoryHeader-OpJ1Ly, .autocompleteInner-y1mjDl,
.container-2ebMPP,
.messagesPopoutWrap-3zryHW,
.browser-mnQ1T7 {
  background-color: var(--background-floating);
}

// Fixes
[class="anchor-1MIwyf anchorUnderlineOnHover-2qPutX"][href="https://support.discord.com"] {
    display: none !important;
}

.itemCard-3Etziu {
    width: 290px !important;
}
.nowPlayingColumn-1eCBCN>div>div {
    margin-top: 60px;
    display: grid;
    grid-template-columns: none !important;
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fill, minmax(70px, 0px));
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --user-banner: 
}

// // //

.avatar-2e8lTP, :root .wrapper-1VLyxH foreignObject, :root .callAvatarMask-fiNMWy foreignObject, :root .avatarContainer-gPrCzX foreignObject, :root .avatarMasked-qX7NI7 {
    mask: none!important;
    -webkit-mask: none!important;
    border-radius: var(--avatar-radius) !important;
}

#app-mount .childWrapper-1j_1ub, #app-mount .svg-2zuE5p, #app-mount .icon-3AqZ2e, #app-mount .wrapper-28eC3z, #app-mount .wrapper-28eC3z foreignObject, #app-mount .circleIconButton-jET_ig, #app-mount .guildIcon-1nnIAv foreignObject, #app-mount .categoryItemGuildCategory-3mvXlo foreignObject, #app-mount .mask-1hlQQ6 foreignObject, #app-mount .guildIcon-2SUGiq, #app-mount [mask="url(#svg-mask-squircle)"], #app-mount .popout-server-search .image-33JSyf {
    mask: none!important;
    border-radius: var(--avatar-radius) !important;
    transition: .1s ease-out!important;
}


/* Rename Settings page v2.1 */
.item-3XjbnG[data-item-id="pc-moduleManager-themes"] {
    font-size: 0px;
      visibility: none !important;
      padding-top: 6px;
    padding-bottom: 1px;
    margin-bottom: 2px;
  }
  .item-3XjbnG[data-item-id="pc-moduleManager-themes"]:after {
    font-size: 16px;
      visibility: visible !important;
    content: "Quick CSS";
  }
  .item-3XjbnG[data-item-id="pc-moduleManager-themes"]:not(:selected):hover:after {
    color: var(--interactive-hover) !important;
  }
  .item-3XjbnG[data-item-id="pc-moduleManager-themes"]:active:after {
    color: var(--interactive-active) !important;
  }
  .item-3XjbnG[data-item-id="pc-moduleManager-themes"]:selected:after {
    color: var(--interactive-active) !important;
  }
  .item-3XjbnG[data-item-id="pc-moduleManager-themes"], .item-3XjbnG[data-item-id="theme-toggler"] {
     padding-bottom: 6px;
  }
  
.side-2ur1Qk > div {
    order: -1;
}
.side-2ur1Qk > div[data-item-id="pc-general"],
.side-2ur1Qk > div[data-item-id="pc-general"] ~ div {
    order: 2;
}
.side-2ur1Qk > div[data-item-id="theme-toggler"] {
    order: 1 !important;
}

// // // 

.updateIconForeground-2V_zo4 {
  fill: var(--alt-color2) !important;
}

.userPopout-2j1gM4[aria-label="Leeprky"] .headerNormal-3Zn_yu .popoutBanner-3cqRD9 {
  background: url("https://i.imgur.com/xgm3xAc.gif");
  background-position: center;
}