
  .iconWrapper-2awDjA {
    &::after {
      content: attr(aria-label);
      font-size: 15px;
      padding-left: 30px;
      padding-right: 6px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: var(--radius);
      bottom: 17px;
      position: relative;
      text-transform: capitalize;
    }
  
    &:hover {
      color: var(--alt-color2);
      background-color: rgba(var(--alt-color), 0.2) !important;
      border-radius: var(--radius);
      color: var(--text);
    }
  }
  
  .iconWrapper-2awDjA[aria-label="Threads"] {
    &::after {
      content: attr(aria-label);
      font-size: 15px;
      padding-left: 30px;
      padding-right: 0px;
      margin-right: -6px !important;
      padding-top: 6px;
      padding-bottom: 0px;
      border-radius: var(--radius);
      bottom: 1px;
      position: relative;
      text-transform: capitalize;
      color: var(--text);
    }
  }

  .clickable-ZD7xvu .icon-2xnN2Y {
    bottom: 0px !important;
    position: relative;
    transform: scale(0.8);
    margin-top: -6px !important;
    margin-left: 2px !important;
    color: var(--interactive-normal) !important;
  }

  .iconWrapper-2awDjA[aria-label="Threads"] .icon-2xnN2Y {
    bottom: 0px !important;
    position: relative;
    transform: scale(0.8);
    margin-top: -8px !important;
    margin-left: 2px !important;
    color: var(--interactive-normal) !important;
  }
  [class="icon-1ELUnB iconWrapper-2awDjA clickable-ZD7xvu"] {
    top: -3px;
  }
  
  .icon-1ELUnB::after {
    bottom: 0px;
    left: -20px;
  }
  
  .icon-2xnN2Y {
    &[width="24"][height="24"][viewBox="0 0 24 24"] {
      bottom: 20px !important;
      margin-top: -6px;
    }
    margin-top: 2px;
    top: 5px;
  }
  
.topic-11NuQZ {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 0 0 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: var(--headers-secondary);
  }

  .search-39IXmY {
    margin: 0 8px;
  }
  
  .searchBar-jGtisZ {
    background-color: rgba(var(--alt-color), 0.2);
    border-radius: var(--radius);
    width: 82px;
    transition: 300ms;
    height: 30px !important;
  }
  
  [class="search-1FM8Qc open-3y3yI_ focused-8aNhVB"] .searchBar-jGtisZ, [data-text="true"], [class="search-1FM8Qc open-3y3yI_"] .searchBar-jGtisZ {
    width: 162px;
    transition: 300ms;
  }
  
  .searchBar-jGtisZ .icon-tZMHgY {
    margin-right: 150px;
    position: absolute;
  }
  
  .icon-18rqoe {
    color: var(--button-interactive) !important;
    transform: scale(1.1) !important;
    margin-top: 3px;
    margin-left: -00px;
  }
  .search-2Mwzzq .DraftEditor-root {
    .public-DraftEditor-content, .public-DraftEditorPlaceholder-root {
      color: var(--text) !important;
      margin-top: 2px;
      margin-left: 23px !important;
    }
  }
  
  .searchBar-jGtisZ {
    margin-top: -1px;
    margin-left: 0px;
  }
  
  [class="container-2McqkF elevationBorderHigh-3drnJX"][style="width: 320px;"] {
    margin-top: 15px !important;
    position: absolute;
    left: -205px !important;
    border-radius: var(--radius);
    background-color: var(--background-floating);
  }
  
  .theme-dark .option-ayUoaq:after {
    background: none;
  }

  .container-ZMc96U.themed-Hp1KC_::after {
    content: "";
    position: absolute;
    display: block;
    top: 44.5px;
    left: 0;
    right: 0;
    height: 1px;
    -webkit-box-shadow: #000;
    box-shadow: #000;
    z-index: 1;
    pointer-events: none;
}

.theme-dark .form-3gdLxP:before {
  display: none;
}


@media only screen and (max-width: 1500px) {
    .toolbar-3_r2xA .iconWrapper-2awDjA::after {
      display: none;
    }
    .icon-1ELUnB {
      left: 0px !important;
      top: -3px !important;
    }
  }
  .icon-1ELUnB {
    left: 20px;
  }
  .iconWrapper-2awDjA path[d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"]{
    d: path("M 12 2 C 6.486 2 2 6.486 2 12 C 2 17.515 6.486 22 12 22 C 14.039 22 15.993 21.398 17.652 20.259 L 16.521 18.611 C 15.195 19.519 13.633 20 12 20 C 7.589 20 4 16.411 4 12 C 4 7.589 7.589 4 12 4 C 16.411 4 20 7.589 20 12 V 12.782 C 20 14.17 19.402 15 18.4 15 L 18.398 15.018 C 18.338 15.005 18.273 15 18.209 15 H 18 C 17.437 15 16.6 14.182 16.6 13.631 V 12 C 16.6 9.464 14.537 7.4 12 7.4 C 9.463 7.4 7.4 9.463 7.4 12 C 7.4 14.537 9.463 16.6 12 16.6 C 13.234 16.6 14.35 16.106 15.177 15.313 C 15.826 16.269 16.93 17 18 17 L 18.002 16.981 C 18.064 16.994 18.129 17 18.195 17 H 18.4 C 20.552 17 22 15.306 22 12.782 V 12 C 22 6.486 17.514 2 12 2 Z M 12 14.599 C 10.566 14.599 9.4 13.433 9.4 11.999 C 9.4 10.565 10.566 9.399 12 9.399 C 13.434 9.399 14.6 10.565 14.6 11.999 C 14.6 13.433 13.434 14.599 12 14.599 Z");
  }
  
  .children-3xh0VB .iconWrapper-2awDjA {
    background-color: inherit;
    border-radius: inherit;
    padding: inherit;
    height: inherit !important;
    left: 5px;
    top: 12px;
  }
  .container-ZMc96U {
  height: 48px !important;
  margin-top: 8px;
  margin-left: 15px;
  width: 97.7%;
  border-radius: var(--radius);
  background-color: var(--background-secondary) !important;
  box-shadow: var(--elevation-low);
}

.theme-dark .children-3xh0VB:after {
  display: none;
}

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk,
.theme-light .searchAnswer-23w-CH, .theme-light .searchFilter-2UfsDk {
  background-color: var(--input-background);
}