
  .iconWrapper-2awDjA {
    &::after {
      content: attr(aria-label);
      font-size: 15px;
      padding-left: 30px;
      padding-right: 2px;
      bottom: 17px;
      position: relative;
      text-transform: capitalize;
    }
    &:hover {
      color: var(--alt-color2);
    }
  }
  
  .clickable-ZD7xvu .icon-2xnN2Y {
    bottom: 0px !important;
    position: relative;
    transform: scale(0.8);
    margin-top: -6px !important;
    margin-left: 2px !important;
  }
  
  .icon-1ELUnB::after {
    bottom: 0px;
    left: -20px;
  }
  
  .icon-2xnN2Y {
    &[width="24"][height="24"][viewBox="0 0 24 24"] {
      bottom: 20px !important;
      margin-top: -6px;
    }
    margin-top: 2px;
    top: 5px;
  }
  
.topic-11NuQZ {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 0 0 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: var(--headers-secondary);
  }

  .search-39IXmY {
    margin: 0 8px;
  }
  
  .searchBar-jGtisZ {
    background-color: rgba(var(--alt-color), 0.2);
    border-radius: var(--radius);
    width: 82px;
    transition: 300ms;
    height: 30px !important;
  }
  
  [class="search-1FM8Qc open-3y3yI_ focused-8aNhVB"] .searchBar-jGtisZ, [data-text="true"], [class="search-1FM8Qc open-3y3yI_"] .searchBar-jGtisZ {
    width: 162px;
    transition: 300ms;
  }
  
  .searchBar-jGtisZ .icon-tZMHgY {
    margin-right: 150px;
    position: absolute;
  }
  
  .icon-18rqoe {
    color: var(--button-interactive) !important;
    transform: scale(1.1) !important;
    margin-top: 3px;
    margin-left: -00px;
  }
  .search-2Mwzzq .DraftEditor-root {
    .public-DraftEditor-content, .public-DraftEditorPlaceholder-root {
      color: var(--text) !important;
      margin-top: 2px;
      margin-left: 23px !important;
    }
  }
  
  .searchBar-jGtisZ {
    margin-top: -1px;
    margin-left: 0px;
  }
  
  [class="container-2McqkF elevationBorderHigh-3drnJX"][style="width: 320px;"] {
    margin-top: 15px !important;
    position: absolute;
    left: -205px !important;
    border-radius: var(--radius);
    background-color: var(--background-floating);
  }
  
  .theme-dark .option-ayUoaq:after {
    background: none;
  }

  .container-ZMc96U.themed-Hp1KC_::after {
    content: "";
    position: absolute;
    display: block;
    top: 44.5px;
    left: 0;
    right: 0;
    height: 1px;
    -webkit-box-shadow: #000;
    box-shadow: #000;
    z-index: 1;
    pointer-events: none;
}

.theme-dark .form-3gdLxP:before {
  display: none;
}


@media only screen and (max-width: 1500px) {
    .toolbar-3_r2xA .iconWrapper-2awDjA::after {
      display: none;
    }
  }

  .toolbar-3_r2xA .iconWrapper-2awDjA::after {
    background-color: rgba(var(--alt-color), 0.2) !important;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: var(--radius);
    padding-right: 8px;
    padding-left: 28px;
  }
  .icon-1ELUnB {
    left: 20px !important;
  }
  
  .children-3xh0VB .iconWrapper-2awDjA {
    background-color: inherit;
    border-radius: inherit;
    padding: inherit;
    height: inherit !important;
    left: 5px;
    top: 12px;
  }
  .container-ZMc96U {
  height: 48px !important;
  margin-top: 8px;
  margin-left: 15px;
  width: 97.7%;
  border-radius: var(--radius);
  background-color: var(--background-secondary) !important;
  box-shadow: var(--elevation-low);
}

.theme-dark .children-3xh0VB:after {
  display: none;
}

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk,
.theme-light .searchAnswer-23w-CH, .theme-light .searchFilter-2UfsDk {
  background-color: var(--input-background);
}