// Name Linking
:root {
    --alt-color:var(--main-colour);
    --alt-color2:var(--main-colour2);
    --alt-color3:var(--main-colour3);
    --colour-invite-button-title: var(--colour-invite-title);
}
