//
//       ░█──░█ ▀█▀ ░█▄─░█ ▀▀█▀▀ ─█▀▀█ ░█▀▀█ ░█▀▀▀
//       ─░█░█─ ░█─ ░█░█░█ ─░█── ░█▄▄█ ░█─▄▄ ░█▀▀▀
//       ──▀▄▀─ ▄█▄ ░█──▀█ ─░█── ░█─░█ ░█▄▄█ ░█▄▄▄

//                     .--------.
//                     | v0.9.3 |
//                     '--------'
//          Last Updated: 07/05/2022 02:20 (UK)
//    Version: Powercord (https://https://powercord.dev/)

// Main
@use "../../main.scss";

// Powercord Specific
@use "./powercord.scss";

// ___        _  __       ___        _  _        ___
// / __|      | |/ /      |_ _|      | \| |      / __|
// \__ \      |   <        | |       | .  |      \__ \
// |___/      |_|\_\      |___|      |_|\_|      |___/

// When Changing Skins Make Sure To Un-Comment The Previous Skin.

// If You Wish To Edit A Theme OR Create Your Own | Remove '//' At Start Of Line Below Then Open That File & Edit As You Like
// @use "./module/skin/custom";

// // // // // // //

// Glasscord Skin - By Nyaomi#9646 (WORK IN PROGRESS)
// ENABLE WITH ANOTHER SKIN TO USE
// @use "../../modules/skin/glasscord.css";

// // // // // // //

// Wallpaper - Disable Other Skins To Use (WORK IN PROGRESS)
// @use "../../modules/skin/image.scss";

// // // // // // //

// Client Skins

// Powercord Skin
@use "./powercord-skin.css";

// Vizality Skin
// @use "../vizality/vizality-skin.css";

// BetterDiscord Skin
// @use "../betterdiscord/betterdiscord.skin.css";

// // // // // // //

// Vanilla Skin - By Discord
// @use "../../modules/skin/vanilla.css";

// Vanilla Dark By Leeprky#2063
// @use "../../modules/skin/vanilla-dark.css";

// Brown - By Leeprky#2063
// @use "../../modules/skin/brown.css";

// Lavender Skin - By Lavender
// @use "../../modules/skin/lavender.css";

// Zelk Skin - By schnensch#4231
// @use "../../modules/skin/zelk.css";

// Duvbox Skin By Leeprky#2063
// @use "../../modules/skin/duvbox.css";

// Dracula Skin By Leeprky#2063
// @use "../../modules/skin/dracula.css";

// Ovel Skin - By Leeprky#2063
// @use "../../modules/skin/ovel.css";

// Naive Skin - By Leeprky#2063
// @use "../../modules/skin/naive.css";

//  __          __   ___    _          ___    __    __
//  /     | |   (_     |    / \   |V|    |    (_    |_
//  \__   |_|   __)    |    \_/   | |   _|_   __)   |__

// Menu Animations
// @use "../../src/optional/menu-animations.scss";

// Pop Animations
@use "../../modules/import/pop";

// New Server List
@use "../../src/components/serverlist";

// Legacy Server List
// @use "../../src/components/serverlist-2";

// No Nitro
@use "../../src/optional/no-nitro.scss";

// Horizontal Server List - Rough But Functional
//@use "../../src/optional/horizontal-server-list.scss";

//MacOS Titlebar | Add '/*' At Start Of Line Below To Change To Windows Titlebar
@use "../../src/optional/macos.scss";
:root {
    --macos-close-bg-dark: #e92a2a25;
    --macos-close-bg-light: #380d074b;
    --macos-close-bg-hover: #e92a2a;

    --macos-min-bg-dark: #ebdd1721;
    --macos-min-bg-light: #3738074b;
    --macos-min-bg-hover: #f7bc1b;

    --macos-max-bg-dark: #12db3323;
    --macos-max-bg-light: #07380f4b;
    --macos-max-bg-hover: #12db33;
}
/* */

//Emoji's
//Google
//@import url("https:/*mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");
//Apple
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");

// Wallpaper Customisation (WORK IN PROGRESS)
:root {
    --image-bg: url("https://cdn.wallpapersafari.com/34/55/8ciD7v.png")
}

:root {
    // Gradients
    --default-gradient: 315deg, rgba(var(--alt-color), 0.7) 0%, rgba(var(--alt-color), 0.8) 74%;
    --special-gradient: 315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74%;
    --red-gradient: 315deg, #aa3738 0%, #f04747 74%;
    --red-hsl: hsl(359, 63%, 53%);
    --yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;
    --yellow-hsl: hsl(46, 72%, 52%);
    --green-gradient: 315deg, #507a73 0%, #4b7c72 74%;
    --grey-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;
    --white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;

    --ping-colour: var(--red-hsl);

    // Popout Modal's
    --popout-modal-badges-style: 30px; //No Wrap Around - Add A Second 30px For Wrap (30px 30px)

    --popout-badges-transparency: rgba(0, 0, 0, 0.473);
    --popout-badges-radius: 0px 12px 12px 0px;

    --avatar-popout-banner-blur: blur(0.5px);
    --avatar-popout-banner-opacity: 0.3;

    --avatar-profile-banner-blur: blur(0.9px);
    --avatar-profile-banner-opacity: 0.4;

    --settings-backdrop-border: scale(0.95);

    --popout-backdrop: rgba(0, 0, 0, 0.562);
    --popout-backdrop-blur: blur(4px);

    // Global Rounding
    --radius: 12px !important; //6 Is Squareish | 12 Is Bubbly
    --avatar-radius: 12% !important; //12% is square | 24% is bubbly

    // Pop Out Buttons
    --pop-transiton-time: ease-in-out 0.4s;

    // Sensitive Info Blur
    --sensitive-info-blur: 0px;
    --sensitive-info-hover: 0px;

    // Scrollbar Display
    --scrollbar-display: none !important;

    // Watermark Title
    --watermark-text: "" var(--theme) " v" var(--version) " - (" var(--style-name) ") -  by " var(--style-creator) "";
    --watermark-top: 11.5px;

    // User Status Indicator's
    --rs-small-spacing: 0;
    --rs-large-spacing: 0;
    --rs-width: 2px;
    --rs-avatar-shape: var(--avatar-radius);
    --rs-online-color: #79ff8b;
    --rs-idle-color: #ffcc74;
    --rs-dnd-color: #ff7979;
    --rs-offline-color: #fff9f9;
    --rs-streaming-color: #b68bff;
    --rs-invisible-color: #ffe9e9;

    // Windows Buttons | Requires MacOS Buttons To Be Commented Out - Line 27
    --win-buttons-width: 42px;

    --win-close-background-colour: #b9534681;
    --win-close-text-colour: #ffefec;

    --win-max-background-colour: #c5a74e79;
    --win-max-text-colour: #ffefc1;

    --win-min-background-colour: #60a86073;
    --win-min-text-colour: #beffbe;
    --win-min-border-radius: 0px 0px 0px 12px;
}

:root {
    --version: "0.9.3PC" !important;
    --build: "093PC" !important;
}
